* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lightgreen; */
}

.main-body {
    background-color: #000;
    width: 100%;
    height: 100dvh;
    min-height: 100dvh;
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.play-box {
    padding: 2rem;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.img-display-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.imgg {
    background-color: pink;
    width: 80%;
    max-width: 250px;
    aspect-ratio: 1/1;
}

.bg-blur-display {
    position: absolute;
    inset: 0;
    width: 100%;
    filter: blur(4px);
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
}
to {
        transform: rotate(360deg);
    }
}


.bg-blur-display div {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;    
    translate: -50% -50%;
    scale: 1.1;
    transform: rotate(0deg);
    border-radius: 3rem;
    width: 80%;
    max-width: 250px;
    height: 100%;
    transform-origin: center;
    animation: rotation 11s linear  infinite;
}

.bg-blur-display div:nth-child(2) {
    animation: rotation 11s linear reverse infinite;
}

.bg-blur-display div:nth-child(3) {
    animation: rotation 11s linear 1.8s infinite;
}    

.pB {
    display: flex;
    flex-direction: column
}

#progressBarContainer , #volumnBarContainer {
    display: flex;
    background: #fff;
    cursor: pointer;
}

#progressBar , #volumnBar {
    width: 0%;
    height: 4px;
    background-color: brown;
}

#volumnBar {
    width: 100%;
}

button {
    cursor: pointer;
}












.highlight {
    background-color: chartreuse ;
}



#playListContainer {
    background-color: aqua;
    height: 100dvh;
    min-height: 100dvh;
    overflow-y: scroll;
}













@media (max-width: 786px) {
    .main-body {
        grid-template-columns: 1fr;
    }
}