* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid lightgreen;
}

.main-body {
    background-color: grey;
    width: 100%;
    height: 100dvh;
    min-height: 100dvh;
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.imgg {
    background-color: pink;
    width: 40%;
    aspect-ratio: 1/1;
}

.pB {
    display: flex;
    flex-direction: column
}

#progressBarContainer , #volumnBarContainer {
    display: flex;
    background: #fff;
    cursor: pointer;
}

#progressBar , #volumnBar {
    width: 0%;
    height: 4px;
    background-color: brown;
}

#volumnBar {
    width: 100%;
}

button {
    cursor: pointer;
}




#playListContainer {
    background-color: aqua;
    height: 100dvh;
    min-height: 100dvh;
}













@media (max-width: 786px) {
    .main-body {
        grid-template-columns: 1fr;
    }
}